<style>
    form, form * {
        margin-bottom:7px;
    }
    body {
        background-color: rgb(240, 240, 240);
    }

    h1, h3 {
        text-align: center;
        margin: 20px 0px;
    }

    h2 {
        text-align: center;
    }

    label, #room-type {
        font-size: 1.3rem;
        font-weight:300;
    }

    .row {
        margin-bottom: 10px;
    }

    #checkout-image {        
        margin: 0px auto;
        border-radius: 4px;
        width: 300px;
        height: 200px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    #item-display {
        text-align: center;
    }
</style>

@model ParkView.Models.CheckOut;


<h1>Order Review</h1>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 border border-2" style="background-color: white; border-radius: 10px">
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Full Name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label">Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Phone Number</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                @foreach (var item in Model.bookingCartItems)
                {
                    <div id="item-display">
                        <img src="@Url.Content(@item.RoomCategory.ImageUrl)" id="checkout-image">
                        <p id="room-type"> @item.RoomCategory.CategoryName X @item.quantity</p>
                    </div>
                }
            </div>

            <div class="form-group">
                <p id="room-type">Total Amount: ₹@Model.OrderTotal</p>
            </div>

            <div class="form-group">
                <label asp-for="check_in" class="control-label">Check-In Date</label>
                <input asp-for="check_in" class="form-control" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="check_out" class="control-label">Check-out Date</label>
                <input asp-for="check_out" class="form-control" disabled/>
            </div>

            <div>
                <input type="submit" value="Proceed To Pay" />
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>


