<style>
    body {
        background-color: #f2ebd8;
    }

    h1 {
        text-align: center;
        margin: 20px 0px;
    }

    p {
        margin: 10px 50px;  
        font-family: 'Segoe UI';
        font-size: 1.5rem;
    }

</style>
<h1>Contact Us</h1>
<p>
    Feel free to reach out to us on the following address for any enquiries / concerns:<br />
    Park View Group of Hotels,<br />
    RMZ Ecoworld, Near Adarsh Palm Retreat,<br />
    Bellandur, Bengaluru - 560103<br /><br />

    Or send us a mail by clicking the below button:<br />
    <a href="mailto: sairama.shrinath@gmaill.com" class="btn btn-light">Mail Us</a>
</p>