<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48
  }
</style>



<h1>Experience World Class Amenities</h1>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-4">
      <div class="card text-bg-light mb-3" style="max-width: auto">
        <div class="card-header" style="background-color: #E2EDF1"><span class="material-symbols-outlined">pool</span></div>
        <div class="card-body" style="background-color: #F2F5F7">
          <h5 class="card-title">Swimming Pool</h5>
          <ul class="card-text">
            <li>Separate Kids' Pool</li>
            <li>Temperature Control</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-light mb-3" style="max-width: auto;">
        <div class="card-header" style="background-color: #E2EDF1"><span class="material-symbols-outlined">wifi</span></div>
        <div class="card-body" style="background-color: #F2F5F7">
          <h5 class="card-title">Free Wi-Fi</h5>
          <ul class="card-text">
            <li>High Speed Internet (500 Mbps)</li>
            <li>Unlimited Data</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-light mb-3" style="max-width: auto;">
        <div class="card-header" style="background-color: #E2EDF1"><span class="material-symbols-outlined">laundry</span></div>
        <div class="card-body" style="background-color: #F2F5F7">
          <h5 class="card-title">Laundry Service</h5>
          <ul class="card-text">
            <li>Washing & Ironing Services</li>
            <li>Available 24/7</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-4">
      <div class="card text-bg-light mb-3" style="max-width: auto;">
        <div class="card-header" style="background-color: #E2EDF1"><span class="material-symbols-outlined">fitness_center</span></div>
        <div class="card-body" style="background-color: #F2F5F7">
          <h5 class="card-title">Gymnasium & Fitness Centre</h5>
          <ul class="card-text">
            <li>Wide Variety of Equipment</li>
            <li>Trainer for Assistance</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-light mb-3" style="max-width: auto;">
        <div class="card-header" style="background-color: #E2EDF1"><span class="material-symbols-outlined">golf_course</span></div>
        <div class="card-body" style="background-color: #F2F5F7">
          <h5 class="card-title">Golf Course</h5>
          <ul class="card-text">
            <li>Spread across 500 Acres</li>
            <li>E-buggy & Equipments to Tee-off </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card text-bg-light mb-3" style="max-width: auto;">
        <div class="card-header" style="background-color: #E2EDF1"><span class="material-symbols-outlined">hiking</span></div>
        <div class="card-body" style="background-color: #F2F5F7">
          <h5 class="card-title">Hiking</h5>
          <ul class="card-text">
            <li>Hiking Gear Available</li>
            <li>Experienced Hiking Guide</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>

