@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



@model ParkView.ViewModels.IndexViewModel;
@{
    List<SelectListItem> hLocations = new List<SelectListItem>();
    //hLocations.Add(new SelectListItem { Value = "select", Text = "Choose a location", Disabled = true, Selected = true });
    //foreach(var hotel in Model.hotels)
    //{/
    //    hLocations.Add(new SelectListItem { Value = hotel.Location, Text = hotel.Location });
    //}
    hLocations.Add(new SelectListItem { Value = "select", Text = "Choose a location", Disabled = true, Selected = true });    
    hLocations.Add(new SelectListItem { Value = "Ooty", Text = "Ooty" });
    hLocations.Add(new SelectListItem { Value = "Manali", Text = "Manali" });
    hLocations.Add(new SelectListItem { Value = "Darjeeling", Text = "Darjeeling" });
    hLocations.Add(new SelectListItem { Value = "Shimla", Text = "Shimla" });
    hLocations.Add(new SelectListItem { Value = "Coorg", Text = "Coorg" });
}



<style>
    p {
        font-weight: 500;
    }
</style>
<form class="form" method="Post" asp-controller="Home" asp-action="Index">
    <div class="container-fluid text-center pb-3 pt-3">
        <div class="row">
            <div class="col">
                <p>Destination</p>
                <select asp-for="destination" asp-items="@hLocations" class="form-control" required></select>
            </div>
            <div class="col">
                <p>Check-in</p>
                <input asp-for="check_in" id="check_in" min="" class="form-control" type="date" placeholder="Check-in" />
            </div>
            <div class="col">
                <p>Check-out</p>
                <input asp-for="check_out" id="check_out" class="form-control" type="date" placeholder="Check-out" />
            </div>
            <div class="col">
                <p>Rooms</p>
                <input asp-for="numberRooms" class="form-control" type="number" placeholder="Number of Rooms Required" />
            </div>
            <div class="col">
                <p>Adults</p>
                <input asp-for="adultCount" class="form-control" type="number" placeholder="Adult Count" />
            </div>
            <div class="col">
                <p>Children</p>
                <input asp-for="childrenCount" class="form-control" type="number" placeholder="Children Count" />
            </div>
            <div class="col">
                <p><i class="bi-search">Search</i></p>
                <button style="border-radius : 5px;" type="submit" class="btn-outline-dark">Search</button>
            </div>
        </div>
    </div>
</form>


<script>
    var date = new Date().toISOString().slice(0, 10);

    //To restrict past date

    $('#check_in').attr('min', date);

    //To restrict future date

    $('#check_out').attr('max', date);
</script>