@model List<DiscountCoupon>


<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Discount Coupons
</button>
<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <a class="dropdown-item" asp-controller="BookingCart" asp-action="Index" asp-route-CouponName="@item.CouponName">@item.CouponName</a>
    }
</ul>
</div>