<style>
    body {
        background-color: #f2ebd8;
    }

    h1 {
        text-align: center;
        margin: 20px 0px;
    }

    p {
        margin: 10px 50px;
        font-family: 'Segoe UI';
        font-size: 1.5rem;
    }


</style>
    <h1>About Us</h1>
    <p>
        ParkView is one of the leading chain of hotels by Grand Park.
        The hotel has sixty rooms and is built in a cozy environment with excellent security systems. It also has the following facilities: stand-by generator, DSTV, internet access, bar, swimming pool, laundry services, air-conditioned rooms, telephone and transport for conveying customers to their respective destinations.
        The hotel has the following types of rooms:
        Presidential suite, Executive, Deluxe & Super Deluxe.
    </p>